*{
    color: gainsboro;
}

body {
    background: #111;
    font-size: smaller;
}

#full-body {
    box-sizing: border-box;
    background: #111;
    border-radius: none;
    border: none;
    position: absolute;
    width: calc(100vw - 100px); 
    height: calc(100vh - 150px);
    min-width: 1280px;
    min-height: 720px;
    align-items: center;
}

#settings-save-icon, #model-refresh-icon, 
#global-refresh-icon, #global-settings-swap-layout-icon, #global-settings-theme-icon {
    width: 20px;
    height: 20px;
    filter: invert(93%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(103%) contrast(103%);
    opacity: 0.6;
}
#settings-save-icon:hover, #model-refresh-icon:hover, 
#global-refresh-icon:hover, #global-settings-swap-layout-icon:hover, #global-settings-theme-icon:hover {
    opacity: 1;
}

#settings-save-toggle, #model-refresh-toggle, #global-refresh-toggle, 
#global-settings-theme-toggle, #global-settings-swap-layout-toggle {
    background: none;
    border: none;
}

/* Suggestion Box */
.suggestion-box, .right-click-menu {
    position: absolute;
    border: 2px solid #333;
    background-color: rgba(17, 17, 17, 0.8);
    color: #eee;
    z-index: 10002;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 8px;
    max-width: 900px;
    width: auto !important;
    min-width: 0 !important;
    pointer-events: auto;
}

.suggestion-item {
    padding: 8px 12px;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
    pointer-events: auto;
    color: #ccc;
    transition: background-color 0.3s ease;
}

.suggestion-item:hover,
.suggestion-item.selected {
    background-color: #555;
    color: #eee;
}

.menu-separator{
    height: 1px;
    background: #e0e0e0;
    margin: 4px 0;
}

/* dropdown */
.dropdown-view {
    margin-top: 10px;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    position: relative;
}

.dropdown-character, .dropdown-character-regional, #generate-settings-static-left, #generate-settings-static-right {
    box-sizing: border-box;
    background: rgb(39,39,42);    
    border: #666 2px solid;
    border-radius: 8px;
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
}

.dropdown-character, .dropdown-character-regional {
    padding: 6px;
    margin-left: 10px;
    margin-right: 10px;    
}

.dropdown-character-regional {
    border: #933 2px solid !important;
}

.mydropdown-select{
    background: rgb(39,39,42);
    position: relative;
    min-width: 128px;
    max-width: 256px;
    border-radius: 4px;
}

.gallery-main-container, .gallery-main-main,
.gallery-thumb-container, .gallery-thumb-main {
    box-sizing: border-box;
    background: #111;
    padding: 6px;
    border: #666 2px solid;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    flex-shrink: 0;
    padding-top: 0;
    align-items: anchor-center;
}

/* Main Gallery */
.gallery-main-main {
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    height: 864px;
}

/* Thumb Gallery */
.gallery-thumb-main {
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    height: 264px; 
}

.gallery-main-main.collapsed, .gallery-thumb-main.collapsed {
    margin: 0;
    padding: 0;
    max-height: 0; 
    height: 0; 
    opacity: 0;
    pointer-events: none;
}

/* Thumb Grid Mode */
.cg-thumb-grid-container {
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-auto-rows: auto;
    overflow-y: auto;
    height: 100%;
}

.cg-thumb-item {
    overflow: hidden;
    border-radius: 5px;
    background: #333;
}

.cg-thumb-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Thumb Split Mode */
.cg-thumb-scroll-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    cursor: grab;
}

.cg-thumb-scroll-image {
    height: 100%;
    object-fit: contain;
}

/* Common Button Styles */
.cg-button {
    position: absolute;
    top: 10px;
    z-index: 1000;
    padding: 5px 10px;
    color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 0.5s ease;
}

.cg-button:hover {
    opacity: 1;
}

/* Switch Mode Button for Gallery */
#cg-switch-mode-button {
    left: 10px;
    background: #3498db;
}

/* Seed Button for Gallery */
#cg-seed-button {
    right: 10px;
    background: #f39c12;
}

/* Tag Button for Gallery */
#cg-tag-button {
    right: 10px;
    top: 50px;
    background: #e74c3c;
}

/* Switch Mode Button for Thumb */
#cg-thumb-switch-mode-button {
    position: absolute; 
    top: 10px;    
    left: 10px;
    opacity: 0.4; 
    background: #3498db;    
    border: 2px solid #3498db;
    border-radius: 8px;
    z-index: 1000;     
    transition: opacity 0.3s ease;
}

#cg-thumb-switch-mode-button:hover {
    opacity: 0.9;
}

/* collapsed style */
.image-infobox-header, .add-lora-header, .highres-fix-header, .refiner-header, 
.controlnet-header, .regional-condition-header, .jsonlist-header, .adetailer-header, .queue-header {
    padding-right: 2px;
    display: flex; 
    align-items: anchor-center;
    justify-content: flex-end;
    position: relative; 
    border: none; 
    gap: 2px;
}

.gallery-main-header, .gallery-thumb-header {
    display: grid;    
    padding-left: 10px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.gallery-main-header {
    grid-template-columns: 4fr 4fr 2fr 1fr 1fr; 
}

.gallery-thumb-header {
    grid-template-columns: 2fr 2.5fr 2fr 2.5fr 0.25fr; 
}

.system-settings-header {
    display: grid;
    grid-template-columns: 4fr 1fr; 
    padding-left: 10px;
}

.highres-fix-header, .refiner-header, .controlnet-header, .regional-condition-header, 
.add-lora-header, .jsonlist-header, .adetailer-header, .queue-header {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr; 
    padding-left: 10px;
}

.highres-fix-header-span, .refiner-header-span, .controlnet-header-span, .regional-condition-header-span, 
.system-settings-header-span, .gallery-main-header-span, .gallery-thumb-header-span,
.add-lora-span, .jsonlist-header-span, .adetailer-header-span, .queue-header-span {
    display: flex;
    justify-self: flex-end;
}

#image-infobox-span, #gallery-main-span,
#gallery-thumb-span, #highres-fix-span, #refiner-span, #controlnet-span, 
#regional-condition-span, #add-lora-span, #system-settings-span, #jsonlist-span, #adetailer-span, #queue-span {
    order: 1; 
    color: #eee;
    padding-right: 2px;
}

#image-infobox-toggle, #gallery-main-toggle,
#gallery-thumb-toggle, #highres-fix-toggle, #refiner-toggle, #controlnet-toggle, 
#regional-condition-toggle, #add-lora-toggle, #jsonlist-toggle, 
#adetailer-toggle, #queue-toggle, #system-settings-toggle {
    margin-top: 2px;
    width: 12px;
    height: 12px;
    order: 2;
    position: static;
    opacity: 0.4;
    border-radius: 8px;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

#image-infobox-toggle, #gallery-main-toggle,
#gallery-thumb-toggle, #highres-fix-toggle, #refiner-toggle, #controlnet-toggle, 
#regional-condition-toggle, #add-lora-toggle, #jsonlist-toggle, 
#adetailer-toggle, #queue-toggle {
    background: #1ce088;
    border: 2px solid #1ce088;
}

#system-settings-toggle {
    background: #E8B090;
    border: 2px solid #E8B090;
}

#image-infobox-toggle:hover, #gallery-main-toggle:hover,
#gallery-thumb-toggle:hover, #highres-fix-toggle:hover, #refiner-toggle:hover, #controlnet-toggle:hover, 
#regional-condition-toggle:hover, #add-lora-toggle:hover, #jsonlist-toggle:hover, #adetailer-toggle:hover,
#system-settings-toggle:hover, #queue-toggle:hover {
    opacity: 0.9;
}

#image-infobox-toggle.collapsed, #gallery-main-toggle.collapsed,
#gallery-thumb-toggle.collapsed, #highres-fix-toggle.collapsed, #refiner-toggle.collapsed, #controlnet-toggle.collapsed,
#regional-condition-toggle.collapsed, #add-lora-toggle.collapsed, #jsonlist-toggle.collapsed, #adetailer-toggle.collapsed,
#system-settings-toggle.collapsed, #queue-toggle.collapsed {
    transform: rotate(90deg);
}

/* MyDropdown Styles */
.mydropdown-container-1, .mydropdown-container-4 {
    margin-top: 4px;
    margin-bottom: 4px;
    gap: 16px;
    width: 100%;
    align-items: anchor-center;
}

.mydropdown-container-1 {
    display: grid;  
    grid-template-columns: 1fr;    
}

.mydropdown-container-4 {
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
}

.mydropdown-container-grid {
    display: grid;  
    grid-template-columns: 1fr 3fr;    
    margin-top: 4px;
    margin-bottom: 4px;
    gap: 16px;
    width: 100%;
    align-items: anchor-center;
}

.mydropdown-wrapper {
    position: relative;
    min-width: 64px; 
}

.mydropdown-wrapper-with-text {
    position: relative;
    min-width: 32px; 
    display: grid;  
    grid-template-columns: 9fr 1fr;
    box-sizing: border-box;
    align-items: anchor-center;
}

.mydropdown-label {
    display: block;
    color: #eee;
    margin-bottom: 5px;
}

.mydropdown-input-container {
    position: relative;
}

.mydropdown-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #222;
    color: #eee;
    box-sizing: border-box;
}

.mydropdown-arrow {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    filter: brightness(0) invert(93%); /* #eee */
}

.mydropdown-options {
    position: absolute;
    border: 2px solid #333;
    background-color: rgba(17, 17, 17, 0.8);
    color: #eee;
    z-index: 10002;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 0;
    border-radius: 8px;
    pointer-events: auto;
}

.mydropdown-item {
    padding: 6px;
    color: #ccc;
    cursor: pointer;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1;
}

.mydropdown-item:hover {
    background-color: #555;
    color: #eee;
    transition: background-color 0.2s ease;
}

.mydropdown-number-input {
    width: 100%;
    min-width: 24px;
    min-height: 20px;
    height: auto;
    border: 2px solid #333;
    border-radius: 4px;
    margin-left: 2px;
    background-color: transparent;
    box-sizing: border-box;
}

.mydropdown-number-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.mydropdown-number-wrapper {
    display: inline-block;
}

/* generate settings */
.image-infobox-container,
.image-infobox-main,
#prompt-text-container, 
.highres-fix-container, .refiner-container, .controlnet-container, .regional-condition-container, .add-lora-container,
.system-settings-container, .jsonlist-container, .adetailer-container, .queue-container, 
.highres-fix-main, .refiner-main, .controlnet-main, .regional-condition-main, .add-lora-main, 
.system-settings-main, .jsonlist-main, .adetailer-main, .queue-main {
    padding: 1px;
    box-sizing: border-box;
    background: rgb(39, 39, 42);
    border: #666 2px solid;
    border-radius: 8px;
    position: relative;    
    color: #eee; 
    gap: 0; 
}

#generate-settings-slider {
    margin-bottom: 4px;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(1, auto); 
}

#generate-settings-static{
    display: grid; 
    grid-template-columns: 1.2fr 1.3fr 0.7fr 0.8fr; 
    grid-template-rows: repeat(1, auto); 
}

#generate-settings-static > div, #generate-settings-slider > div {
    background: rgb(39, 39, 42);
    color: #eee; 
    border: none; 
    border-radius: none; 
    padding: 0; 
    text-align: center;
    box-sizing: border-box;
}

.system-settings-main-1 {
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    padding: 4px;
    margin: 4px;
    gap: 16px;
}

.system-settings-main-2 {
    display: grid; 
    grid-template-columns: 1fr; 
    padding: 4px;
    margin: 4px;
    gap: 16px;
}

.system-settings-ai-select {
    text-align: left; 
    justify-content: flex-start;
}

/* generate buttons */
#generate-buttons-container{
    padding: 0;    
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: none;
    position: relative;
    display: flex;
    flex-direction: row;
}

#generate-buttons-1, #generate-buttons-2 {
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

#generate-buttons-1 {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#generate-buttons-2 {
    display: none;
    flex-direction: row;
    gap: 8px;
}

.generate-button-single, 
.generate-button-batch, 
.generate-button-same,
.generate-button-skip, 
.generate-button-cancel {
    margin: 2px; 
    position: relative;
    padding: 8px; 
    border-radius: 12px;
    cursor: pointer;
    text-align: center; 
    color: #eee; 
    border: none; 
    transition: background-color 0.3s ease;
}

.generate-button-single{
    flex: 2;
}

.generate-button-batch,.generate-button-same,
.generate-button-skip, .generate-button-cancel {
    flex: 1;
}

.generate-random-seed, .generate-width, .generate-height, .generate-cfg, .generate-step, .generate-batch
 {
    margin: 2px 8px;
    position: relative;
}

.generate-landscape, .generate-hires-fix, .generate-refiner, .generate-controlnet, .generate-tag-assist, .queue-autostart-generate {
    position: relative;
    margin-top: 1px;
}

/* prompt text */
#prompt-text-container{
    display: flex;
    flex-direction: column; 
}
#prompt-text-container > div {
    background: #222; 
    color: #eee; 
    border: 1px solid #333; 
    border-radius: 4px; 
    padding: 0; 
    text-align: left;
    box-sizing: border-box;
}

[class^="myTextbox-"][class*="-header"]{
    border: none;
}

[class^="myTextbox-"][class*="-textarea "]{
    flex: 1;
    box-sizing: border-box;
    resize: none; 
    width: 99%;     
    background: rgb(39, 39, 42);
    border-radius: 8px;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 2px;
    margin-right: 2px;
    line-height: 1.5;

    overflow-y: auto;
    border: 1px solid #444;        
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

[class^="myTextbox-"][class*="-textarea"]:focus {
    border-color: #666; 
    outline: none; 
}

[class^="myTextbox-"][class*="-textarea"]:disabled {
    cursor: not-allowed;
    filter: blur(2px);
}

.image-infobox-main,
.highres-fix-main, .refiner-main, .controlnet-main, .regional-condition-main, .add-lora-main,
.system-settings-main, .jsonlist-main, .adetailer-main, .queue-main {
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    height: auto; 
    margin: 6px;
    padding: 6px;    
    box-sizing: border-box;
    border: none;
}

.image-infobox-main.collapsed,
.highres-fix-main.collapsed, .refiner-main.collapsed, .controlnet-main.collapsed, .regional-condition-main.collapsed, 
.add-lora-main.collapsed, .system-settings-main.collapsed, .jsonlist-main.collapsed, .adetailer-main.collapsed,
.queue-main.collapsed {
    margin: 0;
    padding: 0;
    max-height: 0; 
    height: 0; 
    opacity: 0;
    pointer-events: none;
}

#image-infobox-toggle,
#highres-fix-toggle, #refiner-toggle, #controlnet-toggle, #regional-condition-toggle, #add-lora-toggle, 
#system-settings-toggle, #jsonlist-toggle, #adetailer-toggle, #queue-toggle {
    margin-right: 5px;
}

.highres-fix-settings-1, .highres-fix-settings-2, .refiner-settings-1 {
    display: grid;     
    grid-template-columns: 2.5fr 1fr; 
    margin-top: 4px;
    margin-bottom: 4px;
    gap: 16px;
    width: 100%;    
}

.regional-condition-settings-1 {
    display: grid;     
    grid-template-columns: 1fr 1fr; 
    margin-top: 4px;
    margin-bottom: 4px;
    gap: 16px;
    width: 100%;    
}

/* check box */
[class^="myCheckbox-"][class*="-span"] {
    flex: 1; 
    color: #ccc;
    text-align: right;
}

[class^="myCheckbox-"][class*="-input"] {
    flex: 0;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

/* myDialog */
.blur-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50000; 
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}

.dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000; 
    background: rgba(0, 0, 0, 0.5); 
}

.dialog-container {
    position: relative;
    background: #111;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: 15% auto;
    z-index: 100001; 
    color: #eee;
}

/* Global scroll bar style */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #333;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #555, #888);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #777, #aaa);
}

#global-settings-theme-icon {
    -webkit-mask: url('../scripts/svg/sun.svg') no-repeat center;
    mask: url('../scripts/svg/sun.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}
